/* с адптимностью есть проблемы при изменении ширины экрана, местами текс вылезает за пределы блока, перестроение блоков и тп  */
@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 822px) {
  html {
    font-size: 7px;
  }

  .features__grid {
    grid-template-columns: 1fr;
  }
  .testimonials__container {
    min-width: 72.8rem;
  }
  .item__description {
    max-width: 22rem;
  }
}
@media (max-width: 590px) {
  html {
    font-size: 6px;
  }
  .features__description {
    width: 50rem;
  }
  .features__container {
    align-items: baseline;
  }
  .social__header {
    padding-top: 2rem;
  }
  .footer__container {
    padding-right: 112%;
  }
  .headline__container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    width: 60rem;
    gap: 3rem;
  }

  .headline__img {
    align-self: start;
  }

  .how__container {
    padding: 4rem;
    row-gap: 2rem;
    min-width: 100%;
    grid-template-columns: 1fr;
  }

  .testimonials__container {
    min-width: 57.8rem;
  }
  .testimonials__item {
    max-width: 46rem;
    padding: 3rem;
  }
}
