* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*  вешать надо на body */
/*  нет минимальной ширины сайта */
html {
	width: 100%;
	/* отступ ниже лишний по всему файлу */
	min-height: 100vh;

	font-family: 'Ubuntu', sans-serif;
	font-size: 10px;
	scroll-behavior: smooth;
}

/*  */

button {
	border: none;
	background-color: transparent;
}

/* Не подключен normalize */
/* использование ед изм rem тут излишне и не практично */
.header__container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/* можно использовать короткую запись margin: 6.2rem 11.2rem 14rem 24rem; */
	margin: 6.2rem 11.2rem 15rem 24rem;
	margin-bottom: 14rem;
	gap: 12rem;
}

.nav {
	display: flex;
	gap: 4rem;
}

.nav__link:link,
.nav__link:visited {
	transition: all 0.4s;
	text-decoration: none;
	/* цвета надо указывать в HEX, rgba применяют если нужна полупрозрачность (alfa)  */
	/* цвета надо выносить в переменные */
	color: rgba(75, 93, 104, 1);

	font-size: 1.6rem;
	font-weight: 500;
}

.nav__link:hover,
.nav__link:active {
	color: rgba(240, 99, 184, 1);
}

.nav__link--current:link,
.nav__link--current:active {
	color: rgba(33, 35, 83, 1);

	font-weight: 700;
}

/* HeadLine */
.headline__container {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 1fr 1fr;

	align-content: start;
	justify-items: start;

	margin: 0 10rem 10rem 24rem;
}

.headline__title {
	max-width: 64rem;

	font-size: 8rem;
	font-weight: 700;
	line-height: 110%;
	grid-column: 1 / 3;
	grid-row: 1;
}

.headline__description {
	max-height: 100%;
	margin-bottom: 3rem;

	font-size: 1.8rem;
	font-weight: 500;
	line-height: 160%;
}

.headline__img {
	align-self: end;

	width: 48rem;
	grid-column: 2;
	grid-row: 2 / span 2;
}

.headline__link:link,
.headline__link:visited {
	padding: 1.5rem 3.7rem;

	transition: all 0.4s;
	text-decoration: none;

	color: rgba(255, 255, 255, 1);
	border-radius: 50px;
	background-color: rgb(156, 105, 226);

	font-size: 1.8rem;
	font-weight: 800;
	line-height: 160%;
}

.headline__link:hover,
.headline__link:active {
	background-color: rgb(125, 84, 181);
}

/* HOW section */

.how__container {
	display: grid;

	max-width: 100%;
	margin: 0 24rem 15rem 24rem;
	padding: 2.4rem 1.6rem;

	border-radius: 50px;
	background-color: rgba(240, 99, 184, 0.15);
	grid-template-columns: 30% 70%;
}

.how__img {
	max-width: 90%;
	max-height: 60rem;
	object-fit: cover;
}

.how__content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	padding-left: 3rem;
	gap: 1.6rem;
}

.how__title {
	max-width: 47.4rem;

	color: #212353;

	font-size: 3.6rem;
	font-weight: 700;
	justify-self: center;
}

.how__description {
	display: inline-block;
	/* в итоге будет max-width: auto, тк он перебьет max-width: 47.4rem; */
	max-width: 47.4rem;
	max-width: auto;

	color: rgba(75, 93, 104, 1);

	font-size: 1.6rem;
	font-weight: 500;
	line-height: 160%;
}

/* Features */

.features__container {
	display: flex;
	flex-direction: column;

	margin: 0 24rem 15rem 24rem;
}

.features__title {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 5rem;

	font-size: 4rem;
	font-weight: 700;
	line-height: 130%;
}

.features__description {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 10rem;

	text-align: center;

	font-size: 1.8rem;
	font-weight: 500;
	line-height: 160%;
}

.features__grid {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	gap: 13rem 1rem;
}

.features__item {
	position: relative;

	display: grid;
	grid-template-columns: 30% 70%;

	justify-content: center;

	min-width: 44rem;
	column-gap: 1rem;

	padding: 1rem 0;
}

.item__content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;

	padding-left: 3rem;
	gap: 2rem;
}

.item__img {
	align-content: center;
	align-self: center;
	justify-content: start;

	width: 100%;
}

.item__title {
	color: rgba(33, 35, 83, 1);

	font-size: 2.4rem;
	line-height: 130%;
}

.item__description {
	max-width: 22rem;

	color: rgba(75, 93, 104, 1);

	font-size: 1.6rem;
	line-height: 160%;
}

.features__item::after {
	position: absolute;
	z-index: -1;
	top: -2rem;
	left: 0;

	display: inline-block;

	width: 44rem;
	height: 100%;
	padding: 2rem 0;

	content: '';
}

.first__bg.features__item::after {
	background: no-repeat center/80% url('./img/feature_background_1.png');
}

.second__bg.features__item::after {
	background: no-repeat center/80% url('./img/feature_background_2.png');
}

.third__bg.features__item::after {
	background: no-repeat center/80% url('./img/feature_background_3.png');
}

.fourth__bg.features__item::after {
	background: no-repeat center/80% url('./img/feature_background_4.png');
}

.item__link:link,
.item__link:visited {
	display: flex;
	align-items: center;

	transition: all 0.4s;
	text-decoration: none;

	color: rgba(33, 35, 83, 1);

	font-size: 1.6rem;
	font-weight: 700;
	line-height: 160%;
	gap: 2rem;
}

.item__link:hover,
.item__link:active {
	color: rgba(240, 99, 184, 1);
}

/* Testimonials */

.testimonials__container {
	/* Минимальная ширина перезаписывает минимальную ширину */
	min-width: 72rem;
	min-width: 89.8rem;
	margin: 0 24rem 15rem 24rem;
	padding: 0 6rem 6rem;

	border-radius: 50px;
	background-color: rgba(156, 105, 226, 1);
}

.testimonials__header {
	display: inline-block;
	/* padding  перезаписывает padding */
	padding: 0 6rem 11rem;
	padding: 10rem 0 8rem 0;

	color: rgba(255, 255, 255, 1);

	font-size: 4rem;
	font-weight: 700;
	line-height: 130%;
}

.testimonials__items {
	display: flex;
	overflow-x: hidden;
	align-items: flex-start;
	justify-content: flex-start;

	margin-bottom: 6rem;
	gap: 6rem;
}

.testimonials__item {
	display: flex;
	align-items: flex-start;
	flex: 0 0 60rem;

	width: 50%;
	height: 33rem;
	padding: 6rem 3rem 6rem 3rem;

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 2rem 0 rgb(182 119 240 / 93%);
	gap: 3rem;
}

.testimonials__name {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 160%;
}

.testimonials__profession {
	display: block;

	margin-bottom: 1.9rem;

	color: rgba(156, 105, 226, 1);

	font-size: 1.4rem;
	font-weight: 500;
	line-height: 160%;
}

.testimonials__blockquote {
	width: 100%;

	font-size: 1.8rem;
	line-height: 180%;
}

.testimonials__nav {
	display: flex;
	justify-content: space-between;
}

.testimonials__dots {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.testimonials__dot {
	width: 0.5rem;
	height: 0.5rem;

	cursor: pointer;

	border: none;

	/* border: 0.5rem solid rgba(240, 99, 184, 1); */
	border-radius: 50%;
	background-color: #FFF;
}

.testimonials__dot.current {
	border: 0.5rem solid rgba(240, 99, 184, 1);
}

.testimonials__arrows {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.arrow__previous svg path,
.arrow__next svg path {
	stroke: rgba(255, 255, 255, 1);
}

.arrow__previous svg {
	transform: rotate(180deg);
}

/* Footer */

.footer__container {
	display: grid;
	align-content: center;
	align-items: start;

	width: 100%;
	padding: 16.5rem 24rem 6.5rem 24rem;

	color: rgb(33, 35, 83);
	border-top: 2px solid rgba(156, 105, 226, 0.2);
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.footer__contacts {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 1.2rem;
}

.logo__row {
	display: flex;
	align-items: center;
	gap: 2rem;

	margin-bottom: 6rem;
}

.logo__title {
	font-size: 2rem;
	font-weight: 700;
}

.contacts__address {
	max-width: 28rem;

	font-size: 1.6rem;
	font-weight: 500;
	font-style: normal;
	line-height: 180%;
}

.contacts__link:link,
.contacts__link:visited {
	display: block;

	max-width: 100%;

	transition: all 0.4s;
	text-decoration: none;

	color: rgb(33, 35, 83);

	font-size: 1.6rem;
	line-height: 1.8;
}

.contacts__link:hover,
.contacts__link:active {
	color: rgba(240, 99, 184, 1);
}

.footer__copyright {
	max-width: 25rem;
	margin-top: 3.6rem;

	font-size: 1.2rem;
	line-height: 1.8;
}

.footer__social {
	justify-self: end;
}

.social__header {
	margin-bottom: 3rem;

	font-size: 1.6rem;
	font-weight: 700;
	line-height: 160%;
}

.social__icons {
	display: flex;
	gap: 1.4rem;
}

.social__icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 5rem;
	height: 5rem;

	transition: all 0.4s;

	border-radius: 50%;
	background-color: rgba(33, 35, 83, 1);
}

.social__icon:hover {
	transform: scale(1.2);
}
